<nav>
  <h1>Welcome, <%= current_user.username %>!</h1>
  <%= link_to "Logout", logout_path, class: "logout" %>
</nav>

<div class="user-container">
  <div  class="new-idea-form">
   <h4>New idea?</h4>
    <%= render partial: "form" %>
  </div>
  <div class="idea-container">
    <h4>Your Ideas </h4>
    <% if !@ideas.nil? %>
      <% @ideas.each do |idea| %>
        <div class= "idea-show">
          <div class = "idea-text">
            <p> Idea: <%= idea.title  %></p>
            <p> <%= idea.description  %></p>
            <p>Category: <%= idea.category.name  unless idea.category.nil? %></p>
            <p><%= link_to "Edit", edit_user_idea_path(@user,idea) %></p>
          </div>
          <%idea.images.each do |image| %>
            <div class = "idea-media">
              <p><%= image.name %></p>
              <p> <%=image_tag image.image.url unless image.image.url.nil?%></p>
            </div>
          <% end %>
          <%idea.gifs.each do |gif| %>
            <div class = "idea-media">
              <p><%= gif.name %></p>
              <img src= "<%=gif.url%>">
            </div>
          <% end %>
          <p><%= link_to "Delete Idea", user_idea_path(@user, idea), method: "delete" %></p>
        </div>
       <% end %>
      </div>
    <% end %>
</div>
<!-- </div> -->
