<div class = 'forms'>
<%= form_for [:admin, @image], html: { multipart: true } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <p>  <%= f.label :name %></p>
  <p>  <%= f.text_field :name %></p>
  </div>

  <div class="field">
  <p>  <%= f.label :image %><br></p>
    <p><%= f.file_field :image %></p>
  </div>
  <div class="actions">
  <p>  <%= f.submit %></p>
  </div>
<% end %>

</div>
