<h1>Admin Categories</h1>


<h3>Make a category here</h3>

<%= render partial: "form" %>

<%@categories.each do |category|%>
<%=category.name%>
<li class =""><%= link_to "Edit", edit_admin_category_path(category) %></li>
<li class =""> <%= link_to "Delete", admin_category_path(category) , method: "delete" %></li>
<% end %>

<%= form_for [:admin, @image], html: { multipart: true } do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <%= @images.each do |image| %>
  <strong>Name:</strong>
  <%= image.name %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag image.image.url %>
  <%= link_to "Delete", admin_image_path(image) , method: "delete" %></li>
  <%end%>
</p>
<p>

</p>
