<nav>
  <h1>Welcome to the secret admin place</h1>
</nav>

<div class= "container">
<div class = "form-container">
  <h3>Make a category </h3>
<%= render partial: "form" %>
</div>
<div class = "form-container">

  <h3>Upload an image </h3>

<%= render partial: "images_form" %>
</div>
<div class= "categories-show">
  <h3>Categories</h3>
<%@categories.each do |category|%>
<div class= "cat-show">
  <p><%=category.name%></p>
  <%= link_to "Edit", edit_admin_category_path(category) %>
  <%= link_to "Delete", admin_category_path(category) , method: "delete" %>
</div>
<% end %>
</div>
<div class= "images-show">
<% @images.each do |image| %>
<div class= "image-show">
  <P><%= image.name %></P>
  <%= image_tag image.image.url unless image.image.url.nil? %>
  <%=link_to "Delete", admin_image_path(image) , method: "delete" %></li>
</div >
<%end%>
</div>

</div>
